---
import StarchartPreview from './PreviewWindow.astro';
import StarchartNav from './StarchartNav.astro';
import StarchartControls from './StarchartControls.astro';

import type { StarchartNavItem } from './StarchartNav.astro';
import type { StarchartControl } from './StarchartControls.astro';
import type { ComponentInstance } from 'astro/types';

export interface Props {
  title: string;
  Component: ComponentInstance;
  controls: Array<StarchartControl>;
  props: Array<StarchartControl>;
  chart: Array<StarchartNavItem>;
}

const { title, Content, controls, props, chart } = Astro.props;
---

<div class="starchart-story">
  <div class="starchart-story--nav">
    <StarchartNav chart={chart} />
  </div>

  <div class="starchart-story--story">
    <h1 class="starchart-story--title">{title}</h1>
    <div class="starchart-story--preview">
      <StarchartPreview src={`${Astro.url.pathname}__inline`} />
    </div>
    <div>
      <StarchartControls controls={controls} props={props} />
    </div>
    <div class="starchart-story--content">
      <Content />
    </div>
  </div>
</div>

<style>
  .starchart-story {
    display: grid;
    grid-template-columns: 200px 3fr;
    grid-gap: 1rem;
    min-height: 100vh;
  }

  .starchart-story--nav {
    border-right: 1px solid #cccccc;
  }

  .starchart-story--story {
    display: grid;
    grid-template-columns: auto 300px;
    grid-template-rows: min-content 50vh auto;
    gap: 1rem;
  }

  .starchart-story--title,
  .starchart-story--content {
    grid-column: 1 / -1;
    margin: 0;
  }
</style>
