---
export interface Props {
  src: string;
}

const { src } = Astro.props;
---

<div id="starchart-preview-window">
  <form id="starchart-preview--controls">
    <fieldset id="starchart-preview-controls--disabled-wrapper">
      <div class="starchart-preview--control-group">
        <label for="starchart-preview--width">w</label>
        <input
          type="number"
          id="starchart-preview--width"
          name="width"
          value="300"
          aria-label="Width, in px"
        />
      </div>
      <div class="starchart-preview--control-group">
        <label for="starchart-preview--height">h</label>
        <input
          type="number"
          id="starchart-preview--width"
          name="height"
          value="300"
          aria-label="Height, in px"
        />
      </div>
    </fieldset>
  </form>
  <div id="starchart-preview-container">
    <button
      id="starchart-preview-resize--h"
      class="starchart-resizer"
      aria-label="resize"></button>
    <button
      id="starchart-preview-resize--v"
      class="starchart-resizer"
      aria-label="resize"></button>
    <iframe id="starchart-preview" src={src}></iframe>
  </div>

  <div id="starchart-cover"></div>
</div>

<style>
  fieldset {
    border: none;
    padding: 0.25rem 0.5rem;
    margin: 0;
    background-color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  input {
    border: 0;
    margin: 0;
    text-align: right;
    width: 4rem;
    padding: 0;
  }

  #starchart-preview-container {
    display: grid;
    grid-template-columns: min-content 25px;
    grid-template-rows: min-content 25px;
    height: 100%;
  }

  #starchart-preview-controls--disabled-wrapper {
    display: flex;
    gap: 1rem;
  }

  .starchart-preview--control-group {
    display: flex;
    gap: 0.5rem;
  }

  .starchart-resizer {
    --background: rgba(0, 0, 0, 0.15);
    height: 100%;
    width: 100%;
    border: none;
    background-image: linear-gradient(
        to right,
        var(--background),
        transparent 10px,
        transparent calc(100% - 10px),
        var(--background) 100%
      ),
      linear-gradient(
        to bottom,
        var(--background),
        transparent 10px,
        transparent calc(100% - 10px),
        var(--background) 100%
      );
    background-color: #efefef;
    border-radius: 5px;
    position: relative;
    z-index: 101;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .starchart-resizer::before {
    --color: #000000;
    content: '.';
    color: var(--color);
    text-shadow: 0 5px var(--color), 0 10px var(--color), 5px 0 var(--color),
      5px 5px var(--color), 5px 10px var(--color), 10px 0 var(--color),
      10px 5px var(--color), 10px 10px var(--color);
    transform: translateX(-5px) translateY(-8px);
  }

  #starchart-preview-resize--h {
    grid-column: 2 / span 1;
    grid-row: 1;

    cursor: ew-resize;
  }

  #starchart-preview-resize--v {
    grid-column: 1 / span 1;
    grid-row: 2;

    cursor: ns-resize;
  }

  #starchart-preview {
    grid-column: 1 / span 1;
    border: none;
    padding: 0;
    margin: 0;
  }

  #starchart-preview-window {
    height: 100%;
  }

  #starchart-cover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    display: none;
    top: 0;
    right: 0;
  }
</style>

<script is:inline>
  window.addEventListener('DOMContentLoaded', () => {
    const parent = document.querySelector('#starchart-preview-window');

    const form = document.querySelector('#starchart-preview--controls');
    const disabledWrapper = document.querySelector(
      '#starchart-preview-controls--disabled-wrapper',
    );
    const widthInput = document.querySelector('#starchart-preview--width');

    const iframe = document.querySelector('#starchart-preview');
    const cover = document.querySelector('#starchart-cover');
    form.addEventListener('submit', resizeFromForm);
    form.addEventListener('input', resizeFromForm);

    // Set up holders
    let resizing = false;
    let resizeStart;
    let initialSize;
    let delta;
    let total = parent.clientWidth - 25;

    // Set initial settings
    const min = 25;
    let max;

    // Set initial size
    widthInput.value = Math.round(total);
    resize(iframe, total);

    // Set up resize observer
    const rs = new ResizeObserver((entries) => {
      for (const entry of entries) {
        const cr = entry.contentRect;
        iframe.style.height = cr.height - 25 + 'px';
        max = cr.width - 25;
        if (total > max) {
          total = max;
          resize(iframe, total);
        }
      }
    });
    rs.observe(parent);

    window.addEventListener('pointerdown', (e) => {
      if (e.target.id === 'starchart-preview-resize--h') {
        resizing = true;
        cover.style.display = 'block';
        resizeStart = e.clientX;
        initialSize = iframe.clientWidth;
        disabledWrapper.disabled = true;
      }
    });

    window.addEventListener('pointermove', (e) => {
      if (resizing) {
        delta = e.clientX - resizeStart;
        total = Number(delta) + Number(initialSize);
        widthInput.value = Math.round(total);
        resize(iframe, total);
      }
    });

    window.addEventListener('pointerup', () => {
      if (resizing) {
        resizing = false;
        disabledWrapper.disabled = false;
        widthInput.value = Math.round(total);
        cover.style.display = 'none';
      }
    });

    // resizer.addEventListener('pointerleave', () => {
    //   if (resizing) {
    //     resizing = false;
    //     disabledWrapper.disabled = false;
    //     widthInput.value = Math.round(total);
    //   }
    // });

    /**
     * Resize the iFrame from the form
     * @param {Event} e
     */
    function resizeFromForm(e) {
      e.preventDefault();
      const form = e.target.closest('#starchart-preview--controls');

      const data = Object.fromEntries(new FormData(form));

      if (data.width) {
        const w = Number(data.width);
        resize(iframe, w);
      }
    }

    /**
     * Resize the iFrame
     * @param {HTMLElement} container
     * @param {number} width
     */
    function resize(container, width) {
      if (width < min) {
        width = min;
      } else if (width > max) {
        width = max;
      }
      container.style.width = `${width}px`;
    }
  });
</script>
